.main_home_land_bg{
    background-image: url(../Assets/background2.png);
    /* height: 700px; */
    padding: 50px 20px  !important;
    height: 140vh !important;
    /* background-position: 20% 40%; */
    background-repeat: no-repeat !important;
    /* background-color: #484c54 !important; */

    background-size: cover !important;

}


.fisrt_heading{
    font-size: 18px;
    font-family: 'Mina', sans-serif;

    padding-bottom: 20px;
    color: #19b1bd;
}


.main_home_heading{
    font-size: 46px;
    color: #000;
    font-family: 'Mina', sans-serif;
    margin-top: 12px;  
    font-weight: bold;
}

.home_land_para{
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 160%;
    font-family: 'Mina', sans-serif;
    padding-top: 6px;
}

.play_headig{
   font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
}

.right_content_card{
    /* background-color: #131317; */
    /* border-radius: 10px; */
    min-height: 500px;
    margin: auto;
    width: 320px;
    padding: 10px 0px;
    margin-top: 1rem;
    background-color: rgba(23, 23, 24, 0.089);
    border-radius: 1rem;
    border-top: 3px;
    border-style: solid;
    border-color:     #b311f3 !important
    ;
    box-shadow: 0 0 10px #9ecaed;
}


.card_heading_span{
    color: white !important;
    font-weight: bold;
    font-size: 25px !important;
    text-transform:capitalize  !important;
    font-family: 'Mina', sans-serif;


}


.text_days{
    color: white !important;
    margin-bottom: 0px;
    line-height: 30px !important;
    font-family: 'Mina', sans-serif;

}


.progress_number{
    color: #06a84a !important;
    font-weight: bold !important;
    font-family: 'Mina', sans-serif;

}

.lower_pro{
    background-color: #000!important;
    border: 1px solid #000!important;
    border-radius: 24px!important;
    height: 16px;
    margin: 12px 42px 0!important;
    font-family: 'Mina', sans-serif;

}


.upper_pro{
    width: var(--width);
    background: #06a84a;
    border-radius: 10px;
    margin: 1px 0;
    transition: width .1s ease,background-color .1s ease;
    display: block;
    line-height: 1;
    position: relative;
    font-family: 'Mina', sans-serif;

}


.box_text
{
    border: 1px solid #d0dbff;
    border-radius: 10px;
    padding: 16px;
    margin: 12px 42px 0!important; 
    font-family: 'Mina', sans-serif;

}


.connect_to_wallet_home{
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* background: #19b1bd; */
    text-transform: uppercase;
    line-height: 1;
    transition: all .25s ease-in-out;
    font-weight: 500;
    color: white !important;
    padding: 13px 20px !important;
    border: none !important;
    /* width: 100% !important; */
    /* text-align: center !important; */

}


.connect_to_wallet_bg{
    /* background: #19b1bd !important;  */
}


.metamask_pic{
    width: 60px;
    height: 60px ;
}

.footer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.EXCHANGE{
    font-family: 'Mina', sans-serif;

}

.labal_heading{
    color: #fff ;
    font-family: 'Mina', sans-serif;

}
.title_Exchange{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
}

.seeling_tokens{
    position: relative !important;
}


.selling_input{
    display: block;
    width: 100%;
    padding: 0.875rem 1rem;
    font-family: poppins-regular,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 0.4rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input_img{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}


.selling_input{
    padding-right: 7.5rem !important;
    background-color: #fff !important;
    border: 2px solid #b671d1 !important;
}


.dt2{
    width: 37px !important ;
    height: 37px !important;
}


.convert_to_eth{
    border:none !important;
    outline: none !important;
    width: 100%  !important;
    border-radius: 10px;
    /* background: #19b1bd; */
    background: linear-gradient(90deg, #6E3187 0%, #b671d1 100%) !important;

    /* text-transform: uppercase; */
    line-height: 1;
    transition: all .25s ease-in-out;
    font-weight: 500;
    color: white !important;
    padding: 20px  !important;
}




.connect_to_wallet_bgh{
    /* background: #009393 !important; */
    background: linear-gradient(90deg, #6E3187 0%, #b671d1 100%) !important;

    color: #fff !important;
    padding: 20px !important;
    /* border-radius: 0.5rem 0.5rem 0 0!important; */
}

.iso_btn:active{
    border: 2px solid #009393 !important ;
    background-color: transparent !important;
    color:#009393 !important ;
    font-family: 'Mina', sans-serif;

    
}
.iso_btn{
    width: 98% !important;
}


@media  screen  and (max-width:790px){
    .main_home_land_bg{
        /* background-image: url(../Assets/bg5.png); */
    background-color: #484c54 !important;

        /* height: 700px; */
        padding: 50px 20px  !important;
        padding-bottom: 16rem !important;
        height: auto  !important;
        /* background-position: 20% 40%; */
        background-repeat: no-repeat !important;
        background-size: cover !important;
    
    }
    .right_content_card{
        background-color: #131317;
        border-radius: 10px;
        min-height: 500px;
        margin: auto;
        width: 100%;
        padding: 10px 0px;
    }
    .dog_img{
        margin-top: 0rem;
        margin-left: -1rem !important;
        width:18rem  !important
    }
    
}


.dog_img{
    /* margin-top: -12rem; */
    width:20rem ;
    transform: scaleX(-1);
    margin-left: 15rem;
}

.new_btn{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Mina', sans-serif;

}
.new_btn p{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Mina', sans-serif;
    cursor: pointer !important;

}

.crypto-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* background: #19b1bd; */
    text-transform: uppercase;

    /* border: none; */
    border:  2px solid white;
   
    background: linear-gradient(90deg, #6E3187 0%, #b671d1 100%) ;
}

.py-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
.crypto-btn img {
    border-right: 1px solid #fff;
    margin-right: 20px;
    padding-right: 6px;
}
.crypto-btn span {
    color: #fff!important;
    font-family: 'Mina', sans-serif;

    font-size: 16px!important;
    text-align: center;
    width: 70%;
    font-weight: bold;
    
}
.w-80 {
    width: 80%!important;
}


@media only screen and (min-width:800px) and (max-width:1150px){

    .dog_img{
        margin-left: 0px !important;
    }

  
}

@media only screen and (min-width:700px) and (max-width:800px){


    .main_home_land_bg{
        height: 138vh !important;
    }
}



/* @media only screen and (min-width:1800px) and (max-width:5000px){
.main_home_land_bg{
    height: 200vh !important;
}
} */


.right_coonent{
    height: 500px !important;
}

/* @media only screen and (max-width:330px){
    .main_home_land_bg{
        padding-bottom: 6rem !important;
        height: auto !important;
    }

    .dog_img{
        margin-top: 0rem;
        margin-left: -1rem !important;
        width:18rem  !important
    }

    .right_content_card{
        background-color: #131317;
        border-radius: 10px;
        min-height: 500px;
        margin: auto;
        width: 100%;
        padding: 10px 0px;
    }
    .dog_img{
        margin-top: 0rem;
        margin-left: -1rem !important;
        width:18rem  !important
    }
    

} */





.success_model_icon{
    width: 4rem;
    height: 4rem;
    border: 3px solid #6E3187;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_check{
    font-size: 2rem;
    align-items: center;
    font-weight: 700;
    color: #6E3187;

}
.bg_model{
    background-color: #fff !important ;
}


.contBtn {
    position: relative;
    font-family: inherit;
    line-height: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
    padding: 6px 14px;
    min-height: 40px;
    background: linear-gradient(90deg, #6E3187 0%, #b671d1 100%) !important;

    color: rgb(255, 255, 255);
    border-radius: 4px;
}
.title_model{
    float: right !important;
    margin-right: auto !important;
    margin-left: 20rem;
    cursor: pointer;
 }
 .usdc_img{
    width: 5rem;
   
}