
.card_dashboard{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    border-radius: 15px !important;
    padding: 5px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* opacity: 0.7; */
    margin-bottom: 5rem;
    background-color: rgba(23, 23, 24, 0.089) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border-radius: 1rem;
    border-top: 3px;
    border-style: solid;
    border-color: #c7bef3;
    box-shadow: 0 0 10px #9ecaed;
    color: #fff;
    text-decoration: none !important;
 

}

.convert_to_eth p{
    font-size: 25px;
    text-decoration: none !important;
    color: #fff;
}
.convert_to_eth a{
    text-decoration: none !important;
}
.main_home_heading{
    font-size: 46px;
    color: #000;
    font-family: 'Mina', sans-serif;

    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.home_land_para{
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 160%;
    font-family: 'Mina', sans-serif;
    padding-top: 6px;
    text-align: center;
}

.play_headig{
   font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
}



.convert_to_eth{
    border: 2px solid #fff !important;
    outline: none !important;
    width: 100%  !important;
    border-radius: 10px;
    /* background: #19b1bd; */
    background: linear-gradient(90deg, #6E3187 0%, #b671d1 100%) !important;

    /* text-transform: uppercase; */
    line-height: 1;
    transition: all .25s ease-in-out;
    font-weight: 500;
    color: white !important;
    padding: 20px  !important;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }


.btn {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700 !important;
    line-height: 50px;
    margin: 0 0 2em;
 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  

    width: 100%;
  }
  @media (min-width: 600px) {
    .btn {
      margin: 0 1em 2em;
    }
  }
  .btn:hover {
    text-decoration: none;
  }
  
  .btn-1 {
    background: linear-gradient(90deg, #6E3187 0%, #b671d1 100%) ;

    font-weight: 100;
  }
  .btn-1 svg {
    height: 62px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  
  .btn-1:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
  }
  .btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn_center{
    display: flex;
    justify-content: center;
  }
  .btn_center1{
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width:600px) {
    .btn_center{
        display: flex;
        justify-content: center;
      }
      .btn_center1{
        display: flex;
        justify-content: center;
      }
  }